/* css/mapa.css */

/* Define uma altura fixa para o contêiner do mapa dentro do card */
.map-wrapper {
  height: 600px; /* Você pode mudar este valor */
  width: 100%;
}

.custom-marker-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.marker-dot {
  width: 16px;
  height: 16px;
  border-radius: 999px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
}